
 <div class="container" id='maindiv'>

    
    <div id='headtext'>

      <div>

        <img src='assets\logo.png' >
    
      </div>

      <p>REGISTRATION FORM</p>
      
    
  
  
    </div>

    <hr>





      <form onsubmit="return validateinputs()">


        <div class='form-group row'>
        
        
          <label for='firstName' class='col-sm-2'>First Name</label>
          <div class='col-sm-10'>
        
            <input id='firstName' type='text' class='form-control' placeholder="first name" required>
          
        
          </div>
          
        
        </div>


        <hr>

        
        <div class='form-group row'>
        
        
          <label for='lastName' class='col-sm-2'>Last Name</label>
        
          <div class='col-sm-10'>
            
          <input id='lastName' type='text' class='form-control' placeholder="last name" required>
          
          </div>
        
        </div>
        
        <hr>
        <div class='form-group row'>
        
        
          <label for='dob' class='col-sm-2'>Date of Birth</label>
          <div class='col-sm-10'>
        
            <input id='dob' type='date' class='form-control'  required>
          
        
          </div>
          
        
        </div>

        <hr>
        
        <div class='form-group row'>
        
        
          <label for='userName' class='col-sm-2'>User Name</label>
          <div class='col-sm-10'>
        
            <input id='userName' type='text' class='form-control' placeholder="user name" required>
          
          </div>
          
          
        
        </div>
        
        <hr>


        <div class='form-group row'>
        
        
          <label for='password' class='col-sm-2'>Password</label>
          <div class='col-sm-10'>
            <input id='password' type='password' class='form-control' placeholder="password" required>
          </div>
        
        </div>
        
        
        
        
        <hr>
        
        
        <div class='form-group row'>
        
        
          <label for='country' class='col-sm-2'>Country</label>
          
          <div class='col-sm-10'>
        
            <input id='country' type='text' class='form-control' placeholder="country" required>
          
        
          </div>
          
        
        </div>
        
        
        
        <p >

          <button class="btn btn-danger" >Submit</button>
        


        </p>
        
        
        </form>
        
        
  
        


    </div>
   


